body{
    width: 500px;
}

.content{   
    color : red;
    font-size: 3em;
    margin: 1em;
}

.scroller{
    width:100%;
    height: 168px;
}

.scroller-layer0{
    width:100%;
    height: 160px;
    background-image: url('../img/tex5.jpg');
    background-repeat: repeat;
    background-position: 0px 0px;
    background-attachment: fixed;       
}

.scroller-layer1{
    width:100%;
    height: 160px;
    background-image: url('../img/texttex.png');
    background-repeat: repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    
}


.scroller-layer2{
    width:100%;
    height: 160px;
    background-image: url('../img/tex3.png');
    background-repeat: repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    
}

.outline{    
    width:100%;
    height: 160px;
    background-image: url('../img/aufgerissen.png');
    background-repeat:no-repeat;
    background-position: 0px 150px;
    background-attachment: fixed;
}

ul.scrollerNew{list-style-type:none}ul.scrollerNew li{background-attachment:fixed;background-image:url();background-position:0 0;background-repeat:repeat;position:absolute}